<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="MenuMapper">
    <resultMap id="MenuMap" type="com.silverbox.entity.auth.Menu">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="is_root" property="isRoot" jdbcType="INTEGER"/>
        <result column="is_leaf" property="isLeaf" jdbcType="INTEGER"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="level" property="level" jdbcType="INTEGER"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="is_new" property="isNew" jdbcType="INTEGER"/>
        <result column="is_star" property="isStar" jdbcType="INTEGER"/>
        <result column="project" property="project" jdbcType="VARCHAR"/>
        <result column="is_valid" property="isValid" jdbcType="INTEGER"/>
        <result column="is_parent" property="isParent" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="all_column_list">
        id, `name`, description, url, icon, is_root, is_leaf, parent_id, `level`, sort,
        is_new, is_star, project, is_valid, is_parent
    </sql>

    <select id="findMenusByParentId" resultMap="MenuMap" parameterType="java.util.Map">
        select
        <include refid="all_column_list"/>
        from box_menu
        where 1=1
        <if test="parentId != null">
            and parent_id = #{parentId}
        </if>
        and project = #{project}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from box_menu
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.silverbox.entity.auth.Menu">
        insert into box_menu (
            id,
            name,
            version,
            status,
            create_time,
            update_time
        ) values (
            #{id,jdbcType=INTEGER},
            #{name,jdbcType=VARCHAR},
            #{version,jdbcType=INTEGER},
            #{status,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.silverbox.entity.auth.Menu">
        insert into box_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.silverbox.entity.auth.Menu">
        update box_menu
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.silverbox.entity.auth.Menu">
        update box_menu
        set
            name = #{name,jdbcType=VARCHAR},
            version = #{version,jdbcType=INTEGER},
            status = #{status,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>